<div class="flex flex-row gap-8 justify-center">
  <a class="link link-hover text-blue-800 font-bold" href="/">Home</a>
  <a class="link link-hover text-blue-800 font-bold" href="/weddings">Weddings</a>
  <a class="link link-hover text-blue-800 font-bold" href="/deli">Deli</a>
</div>
<div class="w-full border border-slate-900 my-2">
</div>
<div class="flex flex-col gap-1 px-4 text-slate-800">
  <div class="flex flex-row gap-2">
    <div class="font-bold">Address:</div>
    <div>Cuchara Mountain Mercantile 1120 Panadero Ave, Cuchara, CO, United States, 81055</div>
  </div>
  <div class="flex flex-row gap-2">
    <div class="font-bold">Mobile:</div>
    <div>(580) 919-9472</div>
  </div>
  <div class="flex flex-row gap-2">
    <div class="font-bold">Email:</div> 
    <div>cucharamountainadventure@gmail.com</div>
  </div>
</div>


<!--
Website by:
<a class="link link-hover text-primary font-bold" href="http://vantreeseba.com">Ben Van Treese</a>
--!>
